[submodule "Ludus/vender/spdlog"]
	path = Ludus/vender/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ludus/vendor/GLFW"]
	path = Ludus/vendor/GLFW
	url = https://github.com/Cronos79/glfw
